@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/typography/typography';

@include nb-install-component() {
    .container {
        position: relative;
    }

    .spinner-container {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
    }
}