<div class="container">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card class="header-container">
    <mat-form-field>
      <mat-label>Scope</mat-label>
      <mat-select [formControl]="selectedScopeControl">
        <mat-option *ngFor="let scope of scopes" [value]="scope.value">{{scope.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Number</mat-label>
      <input matInput type="number" [formControl]="numberControl">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start</mat-label>
      <input matInput [matDatepicker]="startDatepicker" [formControl]="startDateControl" [min]="minStartDate" [max]="maxStartDate">
      <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>End</mat-label>
      <input matInput [matDatepicker]="endDatepicker" [formControl]="endDateControl" [min]="minEndDate" [max]="maxEndDate">
      <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatepicker></mat-datepicker>
    </mat-form-field>
  </mat-card>
  <table mat-table class="w-100"
              [dataSource]="dataSource"
              matSort matSortActive="date" matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell class="date-cell" *matCellDef="let row"> {{row.propertyKey}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <div class="flex-container">
          <i class="material-icons">{{row.first.status === "complete" ? "check_circle" : "highlight_off"}}</i>
          <span>{{row.first.text}}</span>
        </div>
        <div class="flex-container">
          <i class="material-icons">{{row.second.status === "complete" ? "check_circle" : "highlight_off"}}</i>
          <span>{{row.second.text}}</span>
        </div>
        <div class="flex-container">
          <i class="material-icons">{{row.third.status === "complete" ? "check_circle" : "highlight_off"}}</i>
          <span>{{row.third.text}}</span>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"
        (click)="onRowClicked(row)">
    </tr>
  </table>
  <mat-paginator 
    [length]="rowCount"
    [pageSize]="10"
    [pageSizeOptions]="[10, 50, 100]">
  </mat-paginator>
</div>