@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/typography/typography';

@include nb-install-component() {
    .spinner-container {
        position: relative;
        top: 200px;
    }

    .mat-spinner {
        margin: 0 auto;
    }
}