<div class="container">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-paginator [length]="rowCount" [pageSize]="50"
  [pageSizeOptions]="[50, 100]"></mat-paginator>

  <table mat-table class="w-100"
              [dataSource]="dataSource"
              matSort matSortActive="date" matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="date-picker">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
        <mat-form-field>
          <input matInput [matDatepicker]="startDatepicker" [formControl]="startDate" [min]="minStartDate" [max]="maxStartDate">
          <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatepicker></mat-datepicker>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row"> {{row.propertyKey}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <div class="flex-container">
          <i class="material-icons">{{row.first.status === "complete" ? "check_circle" : "highlight_off"}}</i>
          <span>{{row.first.text}}</span>
        </div>
        <div class="flex-container">
          <i class="material-icons">{{row.second.status === "complete" ? "check_circle" : "highlight_off"}}</i>
          <span>{{row.second.text}}</span>
        </div>
        <div class="flex-container">
          <i class="material-icons">{{row.third.status === "complete" ? "check_circle" : "highlight_off"}}</i>
          <span>{{row.third.text}}</span>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['date-picker']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"
        (click)="onRowClicked(row)">
    </tr>
  </table>
</div>