<nb-card size="xl">
	<nb-card-header>
		<span>User Profiles</span>
		<div class="dropdown ghost-dropdown" ngbDropdown>
			<button type="button" class="btn btn-sm" ngbDropdownToggle
							[ngClass]="{ 'btn-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
				{{ type }}
			</button>
			<ul ngbDropdownMenu class="dropdown-menu">
				<li class="dropdown-item"
						*ngFor="let t of types"
						(click)="getUserProfiles(t); type = t">
					{{ t }}
				</li>
			</ul>
		</div>
	</nb-card-header>
	<nb-card-body>
		<ul class="user-activity-list">
			<li *ngFor="let item of userProfiles">
				<a routerLink="/pages/profiles/{{item.userName}}" class="visited-date">
					{{ item.firstName + ' ' + item.lastName }}
				</a>
				<div class="visited-pages-count">
					<div class="title">Last Active</div>
					<div class="value">{{ item.lastActive }}</div>
				</div>
				<div class="visited-percentages">
					<div class="title">New visits, %</div>
					<div class="delta value"
							 [class.up]="item.deltaUp"
							 [class.down]="!item.deltaUp">
						{{ item.newVisits }}%
					</div>
				</div>
			</li>
		</ul>
	</nb-card-body>
</nb-card>